img {
    max-height: 100px;
}

.add-button {
    float: right;
    align-self: flex-end;
    border-radius: 25px;
    background-color: grey; /* Green */
    border: 1px solid black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 5px 5px 5px grey;
}

.back-button {
    float:left;
    margin: 20px;
    align-self: flex-start;
}

.cancel-button {
    background: none;
    border: none;
    padding: 0;
    color: rgb(80,80,80);
}

.delete-button {
    float: right;
    margin: 5px;
}

.edit-button {
    float: right;
    margin: 5px;
}

.cocktail {
    background: rgb(228, 228, 228);
    margin: 20px;
    padding: 20px;
    border: 0.5px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

.directions {
    width: 50em;
}

#utility-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    
}

#cocktails-container {
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
}

